body {
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  text-aling: center;
}

button {
  background: white;
  color: #001f3f;
  border: none;
  padding: 10px;
  cursor: pointer;
}
